@media (max-width: 1199px) {

  .container {
    padding-right: 68px;
    padding-left: 68px;
  }

  /* Header */

  .header {
    position: relative;
    padding-top: 28px;
  }

  .header__const  {
    position: relative;
    justify-content: space-between;
    padding-bottom: 56px;
  }

  .header__logo {
    max-width: 113px;
  }

  .header__nav {
    display: none;
  }

  .header__add {
    position: absolute;
    display: block;
    top: 81px;
    left: 0;
    right: 0;
    padding: 21px 0;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
  }

  .nav__list {
    justify-content: center;
  }

  .nav__item:not(:last-child) {
    margin-right: 95.5px;
  }

  .header__form {
    top: 32%;
    right: 3%;
  }

  /* Hero */

  .hero__div {
    min-height: 449px;
    background-image: url(../img/microphone1200.jpg);
    background-position: 580px 89px;
    background-size: 260px 270px;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .hero__text {
    margin-bottom: 20px;
  }

  /* podcasts */

  .podcasts__title {
    margin-top: 3px;
    margin-bottom: 29px;
  }

  .podcasts__block {
    padding: 40px 50px 40px 142px;
  }

  /* Broadcasts */

  .broadcasts__const {
    margin-bottom: -1px;
  }

  .left__microphone {
    margin-bottom: 19px;
  }

  .left__btn {
    padding: 9px 54px;
  }

  /* right */

  .right__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }

  .right__block {
    padding: 169px 16px 17px 14px;
  }

  /* Guests */

  .guests {
    padding-top: 95px;
  }

  .guests__text {
    max-width: 70%;
    margin-bottom: 49px;
  }

  .guests__name {
    margin-bottom: 6px;
  }

  .guests__descr {
    line-height: 182%;
  }

  /* Playlists */

  .playlists__const {
    margin-bottom: -1px;
  }

  /* left */

  .playlists__title {
    margin-top: 3px;
    margin-bottom: 11px;
  }

  .playlists__left {
    margin-bottom: 10px;
  }


  /* Right */

  .playlists__right {
    margin-left: -1px;
    margin-top: 14px;
  }

  .group__block {
    padding: 40px 4px 41px 122px;
    background-size: 112px 112px;
    background-position: left;
  }

  .group__country {
    left: 0;
  }

  .group__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 28px;
  }

  /* ADV */

  .adv {
    padding-bottom: 94px;
  }

  /* left */

  .adv__radio {
    max-width: 93%;
    top: 125px;
    left: 15px;
  }

  .adv__new {
    top: 120.5px;
    left: 15.4px;
    max-width: 23.2%;
  }

  /* right */

  .adv__right {
    background-image: url(../img/wave2.svg);
    background-size: 399px 288px;
  }

  .adv__title {
    margin-top: 3px;
    margin-bottom: 48px;
  }

  .adv__text {
    margin-bottom: 12px;
    line-height: 181%;
  }

  .adv__descr {
    margin-bottom: 25px;
    line-height: 182%;
  }

  /* Abou-us */

  .about-us__inf {
    background-image: url(../img/spark.svg);
    background-position: 584px 51px;
    background-size: 255px 255px;
  }

  .about-us__title {
    margin-bottom: 12px;
  }

  .about-us__list {
    flex-wrap: wrap;
    margin-bottom: 31px
  }

  .about-us__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }

  /* form */

  .form__wrap {
    width: 48.2%;
  }

  .form__input {
    width: 100%
  }

  .form__wrap:not(:last-child) {
    margin-right: 3.7%;
  }

  /* Footer */

  .footer {
    background-position: -18px 136px;
  }

  /* top */

  .footer__logo {
    margin-bottom: 15px;
  }

  .footer__right {
    max-width: 54.7%;
  }

  .footer__top {
    margin-bottom: 113px;
  }

  .nav__list-right {
    margin-top: -1px;
  }

  .nav__item-right:not(:nth-last-child(-n+3)) {
    margin-bottom: 4%;
  }
}

@media (max-width: 992px) {

  .container {
    padding-right: 90px;
    padding-left: 90px;
  }

  /* Header */

  .nav__item:not(:last-child) {
    margin-right: 47px;
  }

  .nav__item:nth-child(1) {
    margin-right:37px;
  }

  .nav__item:nth-child(2) {
    margin-right:47px;
  }

  .nav__link {
    font-size: 16px;
  }

  .header__add {
    position: absolute;
    display: block;
    top: 80px;
    left: 0;
    right: 0;
    padding: 20px 0;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
  }

  /* Hero */

  .hero__div {
    padding-top: 95px;
    background-image: none;
  }

  /* Podcasts */

  .podcasts {
    margin-top: -4px;
  }

  .podcasts__item:not(:last-child) {
    margin-bottom: 30px;
  }

  /* Broadcasts */

  .broadcasts {
    padding-bottom: 1px;
    background-image: url(../img/line.svg);
    background-position: 0px 984px;
    background-repeat: no-repeat;
    background-size: 768px 362px;
  }

  .broadcasts__reverse {
    position: relative;
    flex-direction: column-reverse;
  }

  .broadcasts__right {
    margin-top: 169px;
    margin-bottom: 92px;
  }

  .right__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 29px;
  }

  .broadcasts__left {
    position: static;
    margin: 0 auto;
  }

  .left__top {
    position: absolute;
    top: 0;
    left: 15px;
  }

  .left__bottom {
    display: flex;
  }

  .left__microphone {
    width: 51%;
    margin-bottom: 25px;
  }

  .left__microphone img {
    min-width: 70px;
    margin-left: 3px;
  }

  .left__btn {
    margin-bottom: 8px;
  }

  /* Guests */

  .guests__text {
    max-width: 100%;
    margin-bottom: 49px;
  }

  .guests__item {
    flex-direction: column;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .guests__item img {
    margin-bottom: 30px;
  }

  .guests__item:nth-child(2) img {
    margin-top: -3px;
    margin-bottom: 33px;
  }

  .guests__block {
    margin-left: 0;
  }

  .guests__descr {
    width: 67%;
  }

  /* Playlists */

  .playlists__const {
    margin-bottom: 17px;
  }

  .group__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 28px;
  }

  /* ADV */

  .adv {
    padding-top: 43px;
  }

  .adv__left {
    margin-bottom: 42px;
  }

  .adv__radio {
    position:static;
    max-width: 100%;
  }

  .adv__new {
    top: 11px;
    left: 15px;
    max-width: 28.2%;
  }

  .adv__title {
    max-width: 90%;
    margin-bottom: 48px;
  }

  .adv__right {
    background-image: url(../img/wave3.svg);
    background-size: 541px 288px;
  }

  /* About-us */

  .about-us {
    margin-bottom: -2px;
    background-image: url(../img/loop-sparkle.svg);
    background-position: 0px 389px;
    background-repeat: no-repeat;
    background-size: 655px 286px;
  }

  .about-us__inf {
    background-image: none;
    padding-bottom: 173px;
  }

  .about-us__list {
    margin-bottom: 31px;
  }

  /* form */

  .form__line {
    flex-direction: column;
  }

  .form__wrap:not(:last-child) {
    margin-right: 0;
  }

  .form__wrap {
    width: 100%;
  }

  .form__input {
    width: 100%;
  }

  /* footer */

  .footer {
    background-position: 17px 298px;
    background-size: 1926px 290px;
  }

  /* top */

  .footer__things {
    flex-direction: column;
  }

  .footer__top {
    margin-bottom: 99px;
  }

  .footer__logo {
    margin: auto;
    margin-bottom: 14px;
  }

  .footer__list-left {
    margin: auto;
  }

  .footer__link svg {
    width: 36px;
    height: 36px;
  }

  .footer__left {
    margin-bottom: 75px;
  }

  /* right */

  .footer__right {
    max-width: 100%;
  }

  .footer__nav {
    width: 100%;
  }

  .nav__list-right {
    margin-left: -5px;
  }

  .nav__item-right:not(:nth-last-child(-n+3)) {
    margin-bottom: 5.1%;
  }

  .nav__item-right:nth-child(3n+3) {
    width: 13.2%;
  }

  .nav__item-right:nth-child(3n+1) {
    margin-right: 22.7%;
  }

  .nav__item-right:nth-child(3n+2) {
    margin-right: 24.1%;
  }

  .nav__item-right:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {

  .container {
    padding-right: 32px;
    padding-left: 32px;
  }

  .title {
    font-size: 24px;
  }

  .sec {
    padding-top: 53px;
    padding-bottom: 53px;
  }

  /* Header */

  .header {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .header__logo {
    max-width: 87px;
  }

  .header__const {
    padding-bottom: 12px;
  }

  .header__add {
    top: 55px;
    padding: 16px 0 15px 27px
  }

  .header__form {
    top: 121%;
    right: 7%;
    width: 105vh;
  }

  /* nav */

  .nav {
    margin-top: -1px;
  }

  .nav__list {
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .nav__item:not(:last-child) {
    margin-right: 14px;
  }

  .nav__item:nth-child(2) {
    margin-right: 22px;
  }

  .nav__item:nth-child(3) {
    margin-right: 23px;
  }

  .nav__item {
    margin-right: 27.6px;
  }

  /* Hero */

  .hero__div {
    min-height: 330px;
    padding-top: 90px;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 7px;
  }

  .hero__text {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .hero__btn {
    padding: 17px 46px 17px 45px;
    font-size: 16px;
  }


  /* Broadcasts */

  .broadcasts {
    background-position: 0px 465px;
  }

  .broadcasts__const {
    margin-bottom: 1px;
  }

  .podcasts__title {
    margin-top: 2px;
  }

  .broadcasts__right {
    margin-top: 52px;
    margin-bottom: 42px;
  }

  .right__block {
    padding: 60px 10px 10px 9px;
    background-size: 102% 33.5%;
  }

  .broadcasts__reverse {
    margin-top: 2px;
  }

  .right__item {
    height: 150px;
  }

  .right__title {
    font-size: 12px;
    line-height: 12px;
  }

  .right__date {
    margin: 0;
    font-size: 9px;
    line-height: normal;
  }

  .right__text {
    font-size: 12px;
  }

  .right__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 29px;
  }

  .right__1 {
    background-image: url(../img/bro1.jpg);
  }

  .right__2 {
    background-image: url(../img/bro2.jpg);
  }

  .right__3 {
    background-image: url(../img/bro3.jpg);
  }

  .right__4 {
    background-image: url(../img/bro4.jpg);
  }

  .right__5 {
    background-image: url(../img/bro5.jpg);
  }

  .right__6 {
    background-image: url(../img/bro6.jpg);
  }

  .right__1 .right__title {
    margin-bottom: -12px;
  }

  .right__2 .right__title {
    margin-bottom: -24px;
  }

  .right__3 .right__title {
    margin-bottom: -24px;
  }

  .right__4 .right__title {
    margin-bottom: -33px;
  }

  .right__5 .right__title {
    margin-bottom: -33px;
  }

  .right__6 .right__title {
    margin-bottom: -24px;
  }

  /* Left */

  .left__bottom {
    position: relative;
  }

  .left__microphone img {
    position: absolute;
    top: 18px;
    left: -25px;
    min-width: 77px;
  }

  .left__microphone {
    width: 61%;
  }

  .left__descr {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 19px;
  }

  .left__text {
    margin-bottom: 7px;
    font-size: 14px;
  }

  .left__btn {
    width: 58.5%;
    padding: 6px 27px;
    margin-bottom: 0;
  }

  /* Guests */

  .guests__title {
    margin-top: 2px;
    margin-bottom: 11px;
    font-size: 24px;
  }

  .guests__gener {
    margin-bottom: 1px;
    font-size: 14px;
  }

  .guests__text {
    margin-bottom: 29px;
    font-size: 14px;
    line-height: 158%;
  }

  .guests__item {
    min-height: 525px;
  }

  .guests__item:nth-child(2) img {
    margin-top: 0;
    margin-bottom: 11px;
  }

  .guests__item img {
    margin-bottom: 10px;
    max-width: 99%;
  }

  .guests__name {
    margin-bottom: 7px;
  }

  .guests__descr {
    width: 100%;
    line-height: 181%;
  }

  .guests__block {
    min-height: 230px;
  }

  .guests__btn {
    padding: 8px 13px;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 29px;
  }

  /* Playlists */

  .playlists__const {
    margin-bottom: 1px;
  }

  .playlists__title {
    margin-top: 2px;
    margin-bottom: 11px;
  }

  .playlists__text {
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__descr {
    font-size: 11.9px;
  }

  .playlists__right {
    margin-left: 0px;
}

  /* group */

  .group__block {
    padding: 123px 5px 9px 9px;
    background-size: 112px 113px;
    background-position: top;
    background-size: 101% 71.8%;
  }

  .group__country {
    right: 0;
    left: auto;
  }

  .group__title {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .group__text {
    font-size: 9px;
  }

  .group__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 29px;
  }

  /* adv */

  .adv__left {
    margin-bottom: 28px;
    padding-top: 1px;
    position: relative;
  }

  .adv__radio {
    margin-left: 1px;
  }

  .adv__new {
    top: 0.1px;
    left: 15.5px;
    max-width: 22%;
  }

  .adv__title {
    max-width: 100%;
    margin-bottom: 41px;
    font-size: 24px;
  }

  .adv__right {
    background-image: url(../img/wave4.svg);
    background-size: 255px 99px;
    background-position: 15px -3px;
  }

  .adv__text {
    line-height: 158%;
    font-size: 14px;
    margin-bottom: 12px;
  }

  .adv__descr {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 157%;
  }

  .adv__cost {
    margin-bottom: 22px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
  }

  .adv__btn {
    padding: 13px 15px 12px 14px;
    font-size: 16px;
  }

  .adv__icon {
    margin-right: 6px;
  }

  /* About-us */

  .about-us {
    background-image: none;
  }

  .about-us__inf {
    padding-bottom: 31px;
  }

  .about-us__title {
    margin-bottom: 11px;
  }

  .about-us__text {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 150%;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 157%;
  }

  .about-us__name {
    width: 96%;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 18px;
  }

  .about-us__words {
    font-size: 12px;
    line-height: 16px;
  }

  .about-us__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }

  .about-us__list {
    margin-bottom: 30px;
  }

  /* form */

  .form__textarea {
    padding: 16px 22px;
    border-radius: 20px;
    font-size: 16px;
  }

  .form__input {
    height: 50px;
    padding: 12px 22px;
    font-size: 16px;
  }

  .just-validate-error-label {
    position: absolute;
    left: 20px;
    top: -20px;
    font-size: 14px;
}

  .form__btn {
    padding: 17px 45px;
    margin-bottom: 17px;
    font-size: 16px;
  }

  .form__label {
    padding-left: 2.4em;
    font-size: 9px;
  }

  .form__check-box {
    margin-left: -2.3em;
    margin-top: 0.4em;
  }

  /* footer */

  .footer {
    padding-top: 54px;
    background-position: 0px 306px;
    background-size: 1846px 290px;
  }

  /* top */

  .footer__top {
    margin-bottom: 57px;
  }

  .footer__left {
    margin-bottom: 76px;
  }

  .footer__logo {
    margin-bottom: 15px;
  }

  .nav {
    padding-left: 0;
  }

  .nav__item-right {
    width: 23%;
  }

  .nav__link-right {
    font-size: 12px;
  }

  .nav__item-right:nth-child(3n+3) {
    width: 23%;
  }

  .nav__item-right:not(:nth-child(3n+3)) {
    margin-right: 0;
  }

  .nav__item-right:not(:nth-child(2n)) {
    margin-right: 31.8%;
  }

  .nav__item-right:not(:nth-last-child(-n+2)) {
    margin-bottom: 6.8%;
  }

  .nav__item-right:nth-child(1) {
    order: 1;
  }

  .nav__item-right:nth-child(2) {
    order: 7;
    margin-right: 31.8%;
  }

  .nav__item-right:nth-child(3) {
    order: 4;
    margin-right: 0;
  }

  .nav__item-right:nth-child(4) {
    order: 3;
    margin-right: 31.8%;
  }

  .nav__item-right:nth-child(5) {
    order: 9;
    margin-bottom: 0;
  }

  .nav__item-right:nth-child(6) {
    order: 6;
  }

  .nav__item-right:nth-child(7) {
    order: 5;
  }

  .nav__item-right:nth-child(8) {
    order: 2;
  }

  .nav__item-right:nth-child(9) {
    order: 8;
    margin-right: 0;
  }

  /* bot */

  .footer__bottom-text {
    font-size: 12px;
  }

  .reg {
    top: 0;
    font-size: 100%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
}

@media (max-width: 478px) {

  /* Header */

  .nav__list {
    justify-content: start;
  }

  .header__input {
    min-width: 220px;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .header__form {
    width: 140vh;
    padding: 21px 15px;
    max-width: 320px;
    right: 0px;
  }

  /* Hero */

  .hero__div {
    min-height: 355px;
  }

  /* Podcasts */

  .podcasts__const {
    margin-bottom: 1px;
  }

  .podcasts__title {
    margin-bottom: 19px;
  }

  .podcasts__block {
    padding: 102px 64px 30px 16px;
    background-position: top;
    background-size: 100% 39%;
  }

  .podcasts__time {
    margin-bottom: 8px;
  }

  .podcasts__date {
    bottom: auto;
    top: 0;
  }

  .podcasts__text {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .podcasts__name {
    font-size: 12px;
  }

  .podcasts__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .podcasts__1 {
    background-image: url(../img/smpod1.jpg);
  }

  .podcasts__2 {
    background-image: url(../img/smpod2.jpg);
  }

  .podcasts__3 {
    background-image: url(../img/smpod3.jpg);
  }

  .podcasts__4 {
    background-image: url(../img/smpod4.jpg);
  }

  .podcasts__5 {
    background-image: url(../img/smpod5.jpg);
  }

  .podcasts__6 {
    background-image: url(../img/smpod6.jpg);
  }

  .podcasts__7 {
    background-image: url(../img/smpod7.jpg);
  }

  .podcasts__8 {
    background-image: url(../img/smpod8.jpg);
  }

  /* Guests */

  .guests__block {
    min-height: 273px;
  }

  /* ADV */

  .adv__right {
    background-size: 255px 103px;
  }

  .footer {
    background-position: 0px 270px;
  }
}

@media (max-width: 361px) {

  /* Hero */

  .hero__div {
    min-height: 390px;
  }

  /* guests */

  .guests__block {
    min-height: 356px;
  }

  /* ADV */

  .adv__right {
    background-size: 254px 140px;
  }

}
